# Анализ взаимодействия пользователей с карточками Дзена

**Цель:** автоматизировать анализ взаимодействия пользователей с карточками статей Яндекс.Дзен.

**Задача:** выгрузить данные и по ним сделать дашборд, который будет основываться на пайплайне. Пайплайн будет разработан дата-инженерами.

**Выгрузка данных**

In [1]:
#!/usr/bin/python
# -*- coding: utf-8 -*-

# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string)

In [2]:
query = '''
           SELECT *
           FROM dash_visits
        '''

In [5]:
dash_visits = pd.io.sql.read_sql(query, con = engine)

Посмотрим выгруженные данные

In [6]:
dash_visits.head()

   record_id item_topic source_topic age_segment                  dt  visits
0    1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27

Сохраним в формате csv

In [7]:
dash_visits.to_csv('dash_visits.csv', index=False)